.tabs-component {
  width: 100%;
  height: 100%;
}
.tabs-component .tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 40px;
  box-sizing: border-box;
}
.tabs-component .tabs-container .tab {
  float: left;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-family: 'Roboto Bold', 'Roboto Regular';
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #039BE5;
  background: #ECEFF1;
  cursor: pointer;
}
.tabs-component .tabs-container .tab.active {
  margin-bottom: -1px;
  color: #039BE5;
  background: white;
  border-bottom: 1px solid white;
  cursor: default;
}
.tabs-component .tabs-content {
  overflow: auto;
}
