.stub-component {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.stub-component .stub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #78909C;
  background: #CFD8DC;
  border-radius: 50%;
}
.stub-component .stub .fa {
  display: block;
  margin-bottom: 15px;
  font-size: 60px;
  color: #B0BEC5;
}
