.action-button-component {
  position: fixed;
  right: 40px;
  bottom: 20px;
  width: 55px;
  height: 55px;
  text-align: center;
  background: #F44336;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.action-button-component:hover {
  background: #D32F2F;
}
.action-button-component .fa {
  font-size: 20px;
  line-height: 55px;
  color: white;
}
